<!--Single talk------------------------------------------------------------------------------------------------>
<tr>
	<td style="padding: 0">
		<table class="america"> <!--TODO class-->
			<!--Title/Abstract/PDF-->
			<tr>
				<td colspan="3">
					<h2 class="talk_title"><b><!--TODO title--></b><br/>
					</h2>
					<input type="checkbox" id="abstract_id_45" style="display:none;"> <!--TODO abstract id-->
					<label for="abstract_id_45" class="label_abstract"><a>Abstract</a></label> <!--TODO abstract id-->
					<div class="hidden">
						<hr style="border-top: 1px solid black;">
						<!--TODO abstract-->
						<hr style="border-top: 1px solid black;">
					</div>
					<!--TODO pdf and video-->
					<!--					<a href="./presentations/SchedulingSeminar_Name.pdf" class="label_abstract" download>-->
					<!--						Download PDF-->
					<!--					</a>-->
					<!--					<a href="LINK"-->
					<!--					   class="label_abstract" download>-->
					<!--						Download Video-->
					<!--					</a>-->
				</td>
			</tr>

			<!--Data--->
			<tr>
				<td class="presenter_image_container">
					<div class="single_image_container">
						<a href=""> <!--TODO link-->
							<!--TODO image-->
							<img class="single_presenter" loading="lazy" src="photos/person_placeholder.png"
							     alt="person_photo"/>
						</a><br/>
					</div>
				</td>
				<td class="information_upcoming_container">
					<b>[Presenter]</b><br/>
					<!--TODO link-->
					<a href=""><!--TODO name--></a><br/>
					(<!--TODO Uni-->)<br/><br/>
					<!--TODO keywords-->
					<!--<b>Keywords:</b>  -->
					<b>[Invited by]</b><br/>
					<!--TODO link-->
					<a href=""><!--TODO name--></a><br/>
					(<!--TODO Uni-->)
				</td>
				<td class="time_zones_container">
					<table class="time_table">
						<tbody>
						<tr class="utc">
							<td>UTC</td>
							<!--TODO time-->
							<td>Jun 7, 13:00 Wed</td>
						</tr>
						<tr class="europe">
							<td>Prague</td>
							<td><!--TODO time--></td>
						</tr>
						<tr class="america">
							<td>New York</td>
							<td><!--TODO time--></td>
						</tr>
						<tr class="asia">
							<td>Shanghai</td>
							<td><!--TODO time--></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>

			<!--Spacing--->
			<tr style="background-color: white">
				<td colspan="100%"></td>
			</tr>
		</table>
	</td>
</tr>