---
const { invitedBy } = Astro.props;
---

<p class="text-sm text-gray-600">
  <span class="font-semibold">Invited by:</span>{' '}
  <a href={invitedBy.link} class="text-blue-600 hover:text-blue-700 hover:underline">
    {invitedBy.name}
  </a>
  {' '}({invitedBy.affiliation})
</p>